/*  ## COMMON          */
body{
    height : 100%;
    width : 100%;
    margin : 0  !important;
    padding : 0 !important;
    background-color: #fff9de;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
}

.background .images{
    /* width: 100%;
    height: 100%; */
    background-position: center;
    background-size: cover;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    position: absolute;
    width: 102%;
    height: 102%;
    top: -1%;
    left: -1%;
}

.background .cover{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
}

.background .images.honey{
    background-image: url('./images/honey.jpg');
}
.background .images.provider{
    background-image: url('./images/provider.jpg');
}

/*  ## CONTENT         */

.content{
    width: 560px;
    height : 800px;
    position : absolute;
    top : 50%;
    left : 50%;
    margin-top : -400px;
    margin-left : -280px;
    box-shadow: 3px 9px 18px 10px rgba(0, 0, 0, .3);
    background-color : #1b1d1d;
    overflow-y : hidden;
}

.content .video-container{
    width : 100%;
    height: 315px;
    background-color : #2e3131;
}

.content .info-container{
    padding: 3%;
    background-color: #2e3131;
    color : white;
}

.content .info-container p {
    padding: 0;
    margin : 0;
    width : fit-content;
    height: fit-content;
    color : #eeeeee;
}

.content .info-container .title{
    font-size : 1.7em;
    display: inline-flex;
}

.content .info-container .artist{
    padding-top : .8em;
    display: inline-flex;
    right : 0;
    position : absolute;
    margin-right : 3%;
}

.content .info-container .desc-container{
    border-top: 1px solid #4c4c4c;
    margin-top: 15px;
}

.content .info-container .desc-container .desc{
    padding-top:2%;
}

.content .info-container .desc-container .desc .lyrics-container{
    text-align : center;
    padding-top:2%;
}

.content .info-container .desc-container .desc .lyrics-container p{
    width: auto;
    text-align : center;
}

.content .info-container .desc-container .desc .lyrics-container .lyrics-button{
    margin-top: 10px;
    cursor:pointer;
}

.content .info-container .desc-container .desc .lyrics-container .lyrics{
    overflow-y :auto;
}

.slideup, .slidedown {
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
}

.content .info-container .desc-container .desc .lyrics-container .lyrics.slidedown{
    max-height : 260px;
}

.content .info-container .desc-container .desc .release-date{
    font-size : .8em;
}

.content .list-container{
    background-color : #1b1d1d;
    max-height:330px;
    overflow-y: auto;
}

.content .list-container .item{
    color : #eee;
    height : 72px;
    padding : 0 15px;
    border-top : 1px solid #2e3131;
    position : relative;
}

.content .list-container .item p{
    margin: 0;
}

.content .list-container .item .title {
    margin-top: 8px;
    font-size : 1.5em;
}

.content .list-container .item .artist{
    font-size : .9em;
    color:#999;
}

.content .list-container .item a{
    /* float:right; */
    margin-top:26px;
    text-decoration: none;
    color : #96281b;
    position:absolute;
    right: 20px;
    top:0;
}

.content .list-container .item .thumbnail{
    width : 90px;
    height : 51px;
    /* display:block; */
    background-position :center;
    background-size : contain;
    float:left;
    margin-top:11px;
    margin-right : 25px;

}

.content .list-container .item .thumbnail.honey{
    background-image:url('./images/honey.jpg')
}

.content .list-container .item .thumbnail.provider{
    background-image:url('./images/provider.jpg')
}



/*  TEST */
/* .content { background-color : #efefef; } */
/* .content .video-container{ background-color : yellow; } */
